.profile-container{
    text-align: center;
    margin-top: 50px;
}
input {
    margin: 20px;
    display: none;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ddd;
    padding: 5px;
    margin-top: 20px;
}

label {
    background-color: yellowgreen;
    padding: 6px 12px; /* 첫번째 설정 - 두번째 설정 (상하 - 좌우 * 2 를 해줄때가 국밥)  */
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

label:hover {
    background-color: rgb(196, 231, 126);
}